@model BlockchainOnline.Models.User
@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutLogin";
}
    <div class="text-center">
        <h1 class="text-center">Blockchain</h1>
        <div class="login-form">
            @using (Html.BeginForm("Authorize", "Login", FormMethod.Post))
            {<h2 class="text-center">Log in</h2>
                <div class="form-group">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new {@placeholder = "Username", @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.EditorFor(model => model.Password,   new { htmlAttributes = new {@placeholder = "Password", @class = "form-control" } })
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Log in</button>
                </div>
            }
            <p class="text-center"><a href="#">Create an Account</a></p>
        </div>
    </div>
